<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='{% static 'css/menu_style.css' %}'>
    <title>grnbows</title>
</head>
<body>
    <ul>
        <li data-text='About'><a href="about">About</a></li>
        <li data-text='Portfolio'><a href="portfolio">Portfolio</a></li>
        <li data-text='Contact'><a href="contact">Contact</a></li>
    </ul>
</body>
</html>